/* Chaning default browser settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

/* styling form  */
form {
    max-width: 45%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    padding: 50px;

}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

label{
    display: block;
    margin-bottom: 5px;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

input:focus{
    border: 2px solid #f2796e;
}

/* styling social icons */

span{
    color: #f2796e;
    cursor: pointer;
    font-size: 15px;
}
.or {
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.btn-1, .btn-2{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px, 2px, 4px rgba(99, 32, 32, 0.1);
}

/* styling form icons */

form div i{
    position: absolute;
    padding: 10px;
}

.failure-icon,
.success-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}
.error{
    font-size: 14.5px;
    margin-top: 5px;
}

/* styling button */

button {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

button:hover {
    opacity: 0.8;
}
/* media queries */

@media(max-width: 900px) {
    .container {
        flex-direction: column;
    }
    form{
        width: 100% !important;
    }
}
